$theme-colors: (
  "primary": #d4dde3,
  "secondary": #829aab,
  "light": #58f258,
  "dark": #184166 
);

$body-color: "#d4dde3";


@import "../node_modules/bootstrap/scss/bootstrap";

.fitness-icons{
  color: #184166;
  vertical-align: middle;
  margin: 32px;
}