$theme-colors: (
  "primary": #d4dde3,
  "secondary": #829aab,
  "light": #58f258,
  "dark": #184166 
);

$body-color: "#d4dde3";


@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
  --sf-primary: #d4dde3;
  --sf-secondary: #829aab;
  --sf-light: #58f258;
  --sf-dark: #184166;
  --sf-warning: #ffc107;
}

body {
  background-color: var(--sf-secondary);
}

.sf-logo-img{
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.sf-nav-link{
  text-align: center;
  font-size: 1.2em;
}

.sf-nav-toggle{
  text-align: end;
  vertical-align: text-bottom;
}

.sf-footer-bottom{
  background-color: var(--sf-dark);
  color: white;
  padding-top: 1em;
  font-size: .75em;
}

.sf-footer-top{
  background-color: var(--sf-primary);
  color: var(--sf-dark);
}

.sf-footer-info{
  margin-left: 0em;
}

.sf-footer-title1{
  margin-left: -1em;
  margin-top: 1em;
  margin-bottom: .5em;
}

.sf-footer-title2{
  margin-left: 0em;
  margin-top: 1em;
  margin-bottom: .5em;
}

.sf-hours-list{
  margin-top: 0em;
  margin-left: 0em;
  margin-bottom: 1em;
  margin-right: 0em;
  font-size: .8em;
  width: 100%;
  color: var(--sf-dark);
}

.sf-hours-list-item{
  text-align: center;
}

.sf-contact-info{
  text-align: left;
  margin-left: 1em;
  font-size: .8em;
}

.fitness-icons{
  color: var(--sf-dark);
}

.contact-icons{
  color: var(--sf-dark);
  margin: 0em;
}

.sf-social-button{
  margin-top: 1em;
  margin-right: 1em;
}

.sf-home-row1{
  background-color: white;
  margin-left: 0em;
  margin-right: 0em;
}

.sf-home-row2{
  background-color: var(--sf-primary);
  margin-left: 0em;
  margin-right: 0em;
}

.sf-covid-row{
  background-color: var(--sf-warning);
  margin-left: 0em;
  margin-right: 0em;
}

.sf-home-button{
  margin: 1em;
  width: 40%;
}

.sf-home-card{
  margin-top: 3em;
  margin-bottom: 0em;
  width: 100%;
  border-color: var(--sf-secondary);
  border-width: .2em;
  border-radius: .5em;
}

.sf-home-card-header{
  text-align: center;
  background-color: var(--sf-primary);
  border-color: var(--sf-secondary);
  border-width: 0em;
}

.sf-covid-card-header{
  text-align: center;
  background-color: var(--sf-warning);
  border-color: var(--sf-secondary);
  border-width: 0em;
}

.sf-home-card-body{
  background-color: var(--sf-primary);
}

.sf-covid-card-body{
  background-color: var(--sf-warning);
}

.sf-home-card-title{
  color: var(--sf-dark);
  font-size: 1.5em;
}

.sf-home-card-text{
  color: var(--sf-dark);
  font-size: .85em;
  height: 100%;
}

.sf-home-header{
  color: var(--sf-dark);
  margin-left: .5em;
}

.sf-home-subheader{
  color: var(--sf-light);
  margin-left: 1em;
}

.sf-member-header{
  color: var(--sf-dark);
  margin-top: .2em;
  text-align: center;
}


.sf-home-body{
  color: var(--sf-dark);
  margin-left: 1em;
}

.sf-home-form{
  margin: 1em;
  color: var(--sf-dark);
}

.sf-home-form-button{
  margin-top: 1.5em;
  text-align: center;
}

.sf-home-form-footer{
  margin-top: 1em;
  text-align: center;
}

.sf-home-alert{
  border-radius: 0em;
  margin-bottom: 0em;
}

.sf-home-slide{
  width: auto;
  height: auto;
}

@media (min-width: 320px) {
  .sf-schedule-img{
    padding: 1em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    border-style: solid;
    border-color: var(--sf-primary);
    border-width: .5em;
    border-radius: .5em;
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 481px){
  .sf-schedule-img{
    padding: 1em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    border-style: solid;
    border-color: var(--sf-primary);
    border-width: .5em;
    border-radius: .5em;
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

.sf-loading-text{
  color: var(--sf-dark);
  margin-top: 5em;
  text-align: center;
}

.sf-schedule-button{
  width: 50%;
  margin-bottom: 2em;
}

.sf-admin-container{
  background-color: white;
  color: var(--sf-dark);
  height: 100%;
}

.sf-admin-slide{
  margin-left: 2em;
  margin-right: 2em;
  margin-top: .5em;
  margin-bottom: 1em;
  max-width: 100%;
  height: auto;
}

.sf-admin-button{
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-bottom: 2em;
}

.sf-admin-button2{
  margin-bottom: 2em;
  width: 75%;
}

.sf-admin-textarea{
  margin-left: 2em;
  margin-right: 2em;
  width: 100%;
}

.sf-login-container{
  color: var(--sf-dark);
  background-color: white;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 5em;
  width: 70%;
  max-width: 40em;
  border-style: solid;
  border-radius: 1em;
}

.sf-modal{
  justify-content: center;
}