$theme-colors: (
  "primary": #d4dde3,
  "secondary": #829aab,
  "light": #58f258,
  "dark": #184166 
);

$body-color: "#d4dde3";


@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
  --sf-primary: #d4dde3;
  --sf-secondary: #829aab;
  --sf-light: #58f258;
  --sf-dark: #184166;
}

body {
  background-color: var(--sf-secondary);
}

.sf-footer-bottom{
  background-color: var(--sf-dark);
  color: white;
  padding-top: 1em;
  font-size: .75em;
}

.sf-footer-top{
  background-color: var(--sf-primary);
  color: var(--sf-dark);
}

.sf-footer-info{
  margin-left: 0em;
}

.sf-footer-title{
  margin-left: 1em;
  margin-top: 1em;
}

.sf-hours-list{
  margin-top: 0em;
  margin-left: 2em;
  margin-bottom: 1em;
  font-size: 1em;
  color: black;
}

.sf-contact-info{
  text-align: left;
  margin-left: 2em;
}

.fitness-icons{
  color: var(--sf-dark);
}

.contact-icons{
  color: var(--sf-dark);
  margin: .5em;
}

.sf-social-button{
  margin-top: 1em;
  margin-right: 1em;
}

.sf-home-row1{
  background-color: white;
  margin-left: 0em;
  margin-right: 0em;
}

.sf-home-row2{
  background-color: var(--sf-primary);
  margin-left: 0em;
  margin-right: 0em;
}

.sf-home-card{
  margin-top: 3em;
  margin-bottom: 3em;
  width: 100%;
  border-color: var(--sf-secondary);
  border-width: .2em;
  border-radius: .5em;
  overflow-wrap: normal;
}

.sf-home-card-header{
  text-align: center;
  background-color: var(--sf-primary);
  border-color: var(--sf-secondary);
  border-width: 0em;
}

.sf-home-card-body{
  background-color: var(--sf-primary);
}

.sf-home-card-title{
  color: var(--sf-dark);
  font-size: 1.5em;
}

.sf-home-card-text{
  color: var(--sf-dark);
  font-size: .85em;
}

.sf-home-header{
  color: var(--sf-dark);
  margin-left: 1em;
}

.sf-home-body{
  color: black;
  margin-left: 1.75em;
}

.sf-home-form{
  margin: 1em;
  color: var(--sf-dark);
}

.sf-home-form-button{
  margin-top: 1.5em;
  text-align: center;
}

.sf-home-form-footer{
  margin-top: 1em;
  text-align: center;
}